	#dialog{
		position:absolute;
		background:#65c294;
		padding:1px;
		border:#000 4px;
		width:450px;
		height:150px;
	}
	#dialogtitlebar{
		height:30px;
		cursor:move;
	}
	#dialogbody{
		height:120px;
		background:#ffffff;
		text-align:center;
		line-height:60px;
	}
	#dialogtitlebar,#dialogbody{
		border:#b5e2f3 2px;
		width:100%;
	}
	
	#dialogtitle,#dialogclose,#dialogtitleimg{
		display:block;
		margin:4px;
		line-height:20px;
	}
	#dialogtitle,#dialogtitleimg{
		font:"Î¢ÈíÑÅºÚ","ËÎÌå","Verdana","sans-serif";;
		font-size:16px;
		float:left;	
	}
	#dialogtitleimg{
		background:url(img/40.gif);
		width:20px;
		height:20px;
	}
	#dialogclose{
		float:right;
	}
	button{
		position:relative;
		height:20px;
		width:24px;
		border-width:1px;
	}
	#mybutton{
		text-align:right;
	}
	#sure{
		height:20px;
		width:53px;
	}
	#cancel{
		height:20px;
		width:53px;
		margin-right:40px;
	}